// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-root:              null ;
$font-size-base:              1rem ; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 ;
$font-size-lg:                $font-size-base * 1.25 ;


$h1-font-size:                $font-size-base * 5 ;
$h2-font-size:                $font-size-base * 3 ;
$h3-font-size:                $font-size-base * 1.75 ;
$h4-font-size:                $font-size-base * 1.5 ;
$h5-font-size:                $font-size-base * 1.25 ;
$h6-font-size:                $font-size-base ;
// scss-docs-end font-variables


